/** Fonts */
h1 {
    color: white;
    text-shadow: 1px 1px 1px green;
}

.title-article {
    font-size: 4rem;
    color: #23c439!important;
    text-shadow: none;
}

h2 {
    font-size: 3rem;
    color: #2fd463;
}

h3 {
    color: #6ca87e;
}

p {
    font-size: 1.2rem;
}

/** Header */
header li {
    list-style-type: none;
    font-size: 1.1rem;
}

header a:hover {
    color: #2fd463;
}

header a {
    color: black;
    text-decoration: none;
}

/** PAGE accueil */
.banniere {
    width: 100.6%;
    height: 600px;
    background-image: url("../assets/banniere-climat.jpg");
    background-position: center;
}

.title {
    padding: 100px 0 100px 290px;
}

.section {
    padding: 100px 0;
}

.section-text {
    height: 460px;
    padding: 60px;
}

.btn {
    background-color: white;
    padding: 12px 60px;
    border: 1px solid black;
    border-radius: 25px;
}

.btn:hover {
    background-color: #b3d42f;
    color: white;
    transition: 0.5s;
}

.section-consequence img{
    border-radius: 40px;
}

.section-child {
    width: 80%;
    padding: 30px 60px;
    background-color: white;
    position: relative;
    bottom: 100px;
}

.section-child:hover {
    background-color: darkseagreen;
    color: white;
    transition: 0.5s;
}

.section-intox {
    width: 100.6%;
    background-color: seagreen;
    padding: 60px 280px;
}

/** Footer */
footer {
    padding: 60px;
}

/** Article global */
.title-article {
    color: black;
}

.intro {
    width: 90%;
    margin: 60px auto;
}

/** article Océan */
.banniere-ocean {
    box-shadow: 0 2px 1px slategrey;
    width: 1653px;
    height: 600px;
    margin: auto;
    background-image: url("../assets/dechet.PNG");
    background-position: center;
}